/* ------ Подключение шрифтов ------ */

@font-face {
  font-family: 'Museo Sans 100';
  src: url('../font/museosanscyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../font/museosanscyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/museosanscyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/museosanscyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/museosanscyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/museosanscyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Museo Sans 300';
  src: url('../font/museosanscyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../font/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/museosanscyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/museosanscyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/museosanscyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/museosanscyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Museo Sans 900';
  src: url('../font/museosanscyrl-900.eot'); /* IE9 Compat Modes */
  src: url('../font/museosanscyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/museosanscyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/museosanscyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/museosanscyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/museosanscyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Natasha';
  src: url('../font/natasha.eot'); /* IE9 Compat Modes */
  src: url('../font/natasha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/natasha.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/natasha.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/natasha.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/natasha.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* ------ Спецификация ------ */

body {
	font-family: 'Museo Sans 100', sans-serif;
	font-size: 15px;
	color: #3a3244;
	padding: 0;
	margin: 0;
}
.container {
	width: 940px;
	margin: 0 auto;
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
p {
	margin: 0;
    font-size: 14px;
    line-height: 1.4em;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Natasha';
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	
}
h1 {
	font-size: 49px;
}
h2 {
	font-size: 37px;
	color: #22241b;
}
h3 {
	font-size: 22px;
	color: #21241b;
	opacity: 0.5;
}
h4 {
	font-family: 'Museo Sans 900', sans-serif;
	color: #5f605b;
}

h5 {
	font-family: 'Museo Sans 100', sans-serif;
	font-size: 12px;
	
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}

.btn {
	background: #82c83d;
	color: #fff;
	border-radius: 100px;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Museo Sans 900';
	width: 204px;
	padding: 20px 0;
	display: block;
	margin: 0 auto;
}

.btn:hover {
	background: #6fb926;
	color: #fff;
}


/* ------ HEADER ------ */

.header {
	background: #2f2f43 url(../img/bg-first.png) no-repeat center top / cover; 
	padding-top: 53px;
	padding-bottom: 80px;
	color: #fff;
	text-align: center;
}
.navigation{
	color:#fff;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}
.logo {
	font-size: 17px;
	
}
.logo__my{
	 
}
.logo__portfol{
	font-family: 'Museo Sans 900', sans-serif;
}
.nav__item{
    
}
.nav__item:last-child a{
    margin-right: 0;
}
.nav__item a{
	font-family: 'Museo Sans 900', sans-serif;
	color: #fff;
    margin-right: 45px;
	}
.navigation__email{
	font-family: 'Museo Sans 300', sans-serif;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	text-transform: none;
    border-bottom: 1px solid #30332e;
}
.nav__item a:hover, .navigation__email:hover{
	border-bottom: 1px solid #30332e;
	color: #5b5c59;
} 
.offer {
	margin-top: 285px;
}
.arrow-down {
	font-size: 18px;
	width: 40px;
	height: 40px;
	display: block;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	line-height: 1.8;
    margin-top: 255px;
	letter-spacing: -2px;
  }
.arrow-down:hover {
	background: #5b5c59;
	border: 1px solid #5b5c59;
}
.offer__added{
    font-size: 29px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
/* ------ ABOUT ------*/

.about{
	padding-top: 50px;
}
.author{
	margin-top: 70px;
}
.merit{
    
	}
.merit__list{
	
	}
.blok-bg__text{
	width: 390px;
	font-family: 'Museo Sans 300', sans-serif;
	color: #22241b;
	line-height: 1.6;
	margin-top: 40px;
}

.merit__list{
	padding-top: 45px;
}
.merit__item{
	width: 135px;
	text-align: center;
}
.merit__figures{
	width: 80px;
	border: 1px solid #204d15;
	height: 80px;
    margin: 20px auto 30px;
	text-align: center;
	position: relative;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);   
}
.merit__item:last-child{
	margin-right: 0;
}
.merit__figures:after {
	content:'';
	display: block;
	position: absolute;
	width: 65px;
	height: 65px;
	border: 1px solid #c6d6bb;
}
.merit__figures span{
	font-size: 20px;
    color: #204d15;
	transform: rotate(45deg);
}
.merit__subtitle{
	font-size: 12px;
}
.connect__title{
	margin-top: 54px;
	margin-bottom: 20px;
}
.connect__link{
    width: 165px;
    line-height: 28px;
}
.connect a{
	display;
	color: #204d15;
	font-family: 'Museo Sans 300';
	font-size: 14px;
    border-bottom: 1px solid #becbbb;
	margin-bottom: 15px;
    padding-bottom: 2px;
}
.connect a:hover{
	border-bottom: 1px solid #e9eee8;
}
.connect__icon{
	
}
.fa{
	opacity: 0.1;
	font-size: 64px;
	color: #204d15;
	z-index: 2;
}
.connect__text{
	font-family: 'Museo Sans 300';
	font-style: italic;
	font-size: 14px;
	color: #22241b;
	opacity: 0.5;
	
}	
	
/* ------ SKILLS ------ */

.skills{
	padding: 36px 0px 75px 0;
}
.skills__title{
	
}
.skills__category{
	margin-top: 60px;
}
.skills__item{
	margin-right: px;
}
.skills__circyl{
	width: 61px;
	height: 61px;
	border: 1px solid #204d15;
	border-radius: 50%;
	position: relative;
	font-size: 13px;
	color: #204d15;
	text-align: center;
	justify-content: center;
	align-items: center;
	justify-content: center;
	align-items: center;
}
.skills__circyl:after{
	content: ' ';
	width: 49px;
	height: 49px;
	display: block;
	border: 1px solid #adb2ac;
	border-radius: 50%;
	position: absolute;
	left: 4px;
	top: 4px;
}
.skills__subtitle{
	margin-left: 25px;
	
}
 
/* ------ WORKS ------ */

.works__title{
	margin: 0;
}
.works__list {
	margin-top: 55px;

}
.works__item {
	
}
.works__overlay {
	background: rgba(0,0,0,0.64);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
    padding-top: 40%;
   
	
}
.works__wrap {
	position: relative;
}
.works__item:hover .works__overlay  {
	opacity: 1;
}
.works__img {
    width: 100%;
	display: block;
    
	
}
.works__subtitle{
    font-size: 15px;
	color: #fff;
	margin-bottom: 10px;
}
.works__link {
	font-size: 13px;
	font-family: 'Museo Sans 300';
	color: #fff;
	}
.works__link:hover{
	border-bottom: 1px solid #e9eee8;
}


/* ------ Футер ------ */

.footer {
	padding-bottom: 105px;
	padding-top: 118px;
}
.footer__text{
	font-family: 'Museo Sans 300';
	font-size: 11px;
	color: #cececd;
}
.footer__text span::after{
	content: ' / ';
}



/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
	
}

/* 768-992px */
@media screen and (max-width: 992px) {
	.container {
		width: 700px;
	}
    .about{
	    text-align: center;
	}
    .blok-bg{
		text-align: center;
		}
	.blok-bg__text{
		width: auto;
        margin-top: 20px;
	}
    .skills__title{
        text-align: center;
    }
    .works__title{
        text-align: center;
    }
    .works__item{
        margin-right: 20px;
    }
    .footer{
        padding: 25px 0;
    }
}



/* 576-768px */
@media screen and (max-width: 768px) {
	.container {
		width: 520px;
	}
    .navigation{
		flex-direction: column;
        align-items: center;
    }
    .nav__list{
       margin: 20px auto; 
    }
	 .offer{
        margin-top: 180px;
    }
    .arrow-down{
        margin-top: 180px;
    }
    .connect__blok{
		flex-direction: column;
        }
    .connect__link{
        margin: 0 auto 20px;
        }
    .connect__text{
        margin-top: 20px;
    }
	.merit__title{
		margin: 35px auto;
		}
    .skills__subtitle{
        margin: 0 5px;
    }
    .skills__item:last-child .skills__subtitle{
        margin-right: 0;
    }
    .works__subtitle{
        font-size: 10px;
		margin-bottom: 5px;
    }
    .works__link{
        font-size: 10px;
    }
    .author{
		display: block;
		text-align: center;
	}
    
}
/* 320-576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	h1 {
		font-size: 26px;
	}
	.offer__added{
		font-size: 18px;
	}
    .merit__list{
        flex-direction: column;
        align-items: center;
    }
    .skills__category{
		flex-direction: column;
    	}
    .skills__item{
		display: block;
		margin: 0 auto;
	}
	.skills__circyl{
		margin: 0 auto;
	}
	.skills__subtitle{
		text-align: center;
		margin: 20px 0;
	}
    .works__title{
        text-align: center;
    }
    .works__list{
        flex-direction: column;
    }
    .works__item{
        width: 100%;
        max-width: 295px;
        margin: 0 auto 20px;
    }
	
	
}





